.title {
    border: 3px solid black;
    width: 10cm;
    background-color: darkgoldenrod;
    margin-top: 2cm;   
    border-radius: 10px;
    box-shadow: 20px 20px rgba(10, 20, 80, 0.35);
}

.pres {
    margin-top: 1cm;
    background-color: rgb(192, 120, 13);
    margin-left: 1cm;
    width: 20cm;
    border: solid black 3px;
    margin-right: 1cm;
}

footer {
    background: rgba(10, 5, 0, 0.8);
    color: goldenrod;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin-top: 7cm;
    height: 3cm;
} 